extends layout.pug

block banner

block main
    .members-only
        .logged-in.hidden
            button(type="button", id="fb-logout") Log out
        .loginArea.hidden
            button(type="button", id="fb-login") Log in with Facebook
    script(src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js")
    script(src="js/firebase.js")