-
    var doulas = 
        {
        "Heather Chan": {
            "name": "heather-chan",
            "credentials": "RN, CD (DONA)",
            "bio": "Heather's doula journey began in 1991, witnessing the miracle of her siblings enter the world. Her passion for birth has grown exponentially since becoming a mother in 2007, then a certified birth doula through DONA in 2014. She truly loves to educate and help each client navigate their options for birth. She is known for her desire to empower women and families to have a positive birth experience. You only give birth to your child once, you deserve the wealth of knowledge and expertise Heather can offer to your own unique birth journey.",
            "email":  "bhaea7@gmail.com",
            "website": "",
            "phone": ""
        },
        "Patrick Boswell": {
            "name": "patrick-boswell",
            "credentials": "L.Ac., LMT",
            "bio": "Patrick Boswell L.Ac., LMT is a licensed acupuncturist and massage therapist with a specialty in pregnancy and labor/delivery. His focus is on families that would like acupuncture and traditional Chinese medicine as a part of their pregnancy and birth experience.  Patrick is the only practicing male doula in Rochester.  He is great for helping communicate with, teaching, and involving your partner in the process.  Patrick runs a private practice on the west side of Rochester where he treats people in all stages of life. The website below has more info about the practice and what traditional Chinese medicine is all about.",
            "email":  "poeboswell@gmail.com",
            "website": "www.anewlifeacupuncture.com",
            "phone": ""
        },
        "Molly Deutschbein": {
            "name": "molly-deutschbein",
            "credentials": "LMT, CST, C-ATMAT",
            "bio": "Molly offers families the benefit of her experience - as a woman, a mother, a childbirth educator, a breastfeeding counselor, a bodyworker and a birth attendant (doula).  She has spent the past twenty-six years learning all she could about how women birth, how women see their bodies and why they run into obstacles in labor. She’ll help you prepare with bodywork (craniosacral therapy, Arvigo Techniques of Mayan Abdominal Therapy, the principles of Spinning Babies) and informed planning. Molly's expertise is working with women with a history of trauma.",
            "email":  "molly@spiritorganic.net",
            "website": "www.spiritorganic.net",
            "phone": "585-746-4682"
        },
        "Nella Goho": {
            "name": "nella-goho",
            "credentials": "CD(DONA), LCCE",
            "bio": "Nella thrives on her passion for all things birth related. Birth and all it involves has not only motivated Nella but inspired her to turn her passion into a profession. She completed her training as a Bradley Childbirth Instructor 2012. She is certified as a DONA International Doula as well as a Lamaze Childbirth Educator. Nella serves on the Doula Cooperative Board, the Rochester Area Birth Network Board, and the PCC LEAH Homeschool Cooperative Board. In her spare time, Nella enjoys spending time with her family, Netflix binges, mama night outs, video game play and sitting down with a good soul quenching book.",
            "email":  "passionatedoula@gmail.com",
            "website": "www.bbcroc.com",
            "phone": "585-820-7062"
        },
        "Gaila Harriff": {
            "name": "gaila-harriff",
            "credentials": "CD(DONA), PCD (DONA), CLC (HEALTHY CHILD)",
            "bio": "Gaila has had the privilege to help couples gently transition into parenthood, and even strengthen their relationship in labor and birth, since 2004. Each family has unique needs during this vulnerable time, from labor preparation through postpartum care. Gaila’s area of expertise, working with mothers and babies, began in 1979 working in local newborn and special care nurseries. This has benefited her in helping the hospital staff honor a calm, respectful space for your birthing experience. Hospital or home births, infant care, breastfeeding, postpartum depression are why I take seriously keeping up with education and certifications, allowing the best evidenced-based care for you.",
            "email":  "gharriff@gmail.com",
            "website": "",
            "phone": "585-414-8947"
        },
        "Erin Hegeman": {
            "name": "erin-hegeman",
            "credentials": "",
            "bio": "Erin is a birth doula and believer in the process of birth. She has confidence and trust that a woman's body can and will birth a baby in the way that was meant for them as individuals. She hopes to empower women to learn about their choices in childbirth.  Erin has trained in Hypnobirthing and is certified in Rebozo for childbirth. Her journey on this path began with the birth at home of her first son in 2009. She believes every woman should have access to the physical and emotional support of a doula if they desire.",
            "email":  "erin.hegeman.doula@gmail.com",
            "website": "www.erinhegeman.com",
            "phone": ""
        },
        "Shannon Hess": {
            "name": "shannon-hess",
            "credentials": "",
            "bio": "Shannon is passionate about supporting women through transformative times in their lives. In 2014, she completed the DONA International birth doula training after becoming infatuated with the process and power of birth. In January of 2016, Shannon had her first child and experienced firsthand how infinitely encouraging the presence of a doula could be, and hopes to share that with as many women as she can. Shannon also practices herbal medicine and has completed a number of apprenticeships with incredible herbalists. She is currently working towards her certification as a women’s herbal educator.",
            "email":  "smlphess@gmail.com",
            "website": "",
            "phone": "585-739-9093"
        },
        "Bridget Strub": {
            "name": "bridget-strub",
            "credentials": "CD(DONA)",
            "bio": "Bridget is passionate about supporting women and their families and being a catalyst for peace in pregnancy, birth and parenthood. Her calm presence, gentle approach and steady strength offer the support needed to engage with birth as an empowering and fulfilling experience. She has been a doula since 2015 and has supported women through medicated, unmedicated, VBAC and cesarean births. Bridget has been DONA certified and owner of Wildflower Birth Support since 2016. She has a thirst for knowledge and continually seeks out educational opportunities to deepen her knowledge and expand the extent of her evidence-based support.",
            "email":  "bridgetthedoula@gmail.com",
            "website": "www.wildflowerbirth.co/",
            "phone": "585-880-5387"
        },
        "Noelle Hitchcock": {
            "name": "noelle-hitchcock",
            "credentials": "",
            "bio": "Noelle Hitchcock first discovered her passion for pregnancy and birth while in high school. She attended a DONA workshop for doulas in 2014. Having her own daughter in August 2015 reinforced her love for birth and desire to help women. She gained much experience in 2016, attending 7 births total. She believes deeply in empowering women through positive birth experiences. It is something that will effect a woman for the rest of her life.",
            "email":  "noelle_2297@yahoo.com",
            "website": "www.everymotherdeservessupport.com",
            "phone": "585-269-8946"
        },
         "Claire Labrosa": {
            "name": "claire-labrosa",
            "credentials": "",
            "bio": "Claire is a birth doula and childbirth educator. She is passionate about birth, and seeks to support all individuals and families as they follow their journeys in birth and parenting. Claire values diversity and respect for all people. She seeks to support those on their journey in pregnancy, birth, and beyond so they feel prepared, cared for, and empowered throughout. Claire believes everyone can have a birth that makes them feel stronger than they ever did before, and she hopes to help them achieve that.",
            "email":  "clabrosa@gmail.com",
            "website": "",
            "phone": ""
        },
        "Cheryl Johnson": {
            "name": "cheryl-johnson",
            "credentials": "CD(DONA)",
            "bio": "Cheryl is a birth doula who loves movement. With her background in teaching Dancing for Birth™ classes and her love and knowledge of her own sport, Crossfit, she truly enjoys helping women to know their own bodies and use that to their advantage. Cheryl is also Rebozo certified and truly cares about what each woman wants. As families welcome sweet new lives, they shift and grow. Cheryl believes that women and partners should have the support they need to make it a special, memorable day - one in which they have the power to choose what’s best, and enjoy it too.",
            "email":  "Doula@isajohnson.com",
            "website": "dancindoulamama.isajohnson.com",
            "phone": "585-204-0336"
        },
        "Adriana Lozada": {
            "name": "adriana-lozada",
            "credentials": "AdvCD(DONA), CMSC, CEMC",
            "bio": "Adriana knows birth can be an angst-producing, wonderfully-transforming, and empowering. Her goal is to help you navigate the waters, and have a satisfying birth experience, as you define it. Since 2007, she has supported women and their partners through vaginal births, cesarean births, VBACs, homebirth, prematurity, post-dates, back labor, stillbirth and more. Adriana is a advanced birth doula, child sleep consultant, and postpartum educator. She’s an author, speaker, and host of The Birthful Podcast. All part of her quest to help families have a joyful transition into this craziness called parenthood. She's also fluent in Spanish.",
            "email":  "adriana@birthful.com",
            "website": "www.birthful.com",
            "phone": "585-454-9898"
        },
        "Danielle Major": {
            "name": "danielle-major",
            "credentials": "",
            "bio": "Danielle has been a trained birth doula since 2012, working toward DONA certification. She also has Bradley childbirth training and has worked as a Breastfeeding Peer Counselor for WIC. Danielle’s passion for birth came before she was a mom, while working with families as a nanny. She believes every woman should have the best birth possible, and she does her best to assist them. Danielle’s favorite part about being a doula is the look on mom’s face when she is handed her baby after all the hard work she just endured! Danielle has two children of her own and has experienced natural childbirths.",
            "email":  "doula_danielle@yahoo.com",
            "website": "",
            "phone": "(808)268-3973"
        },
        "Sarah Ozimek": {
            "name": "sarah-ozimek",
            "credentials": "",
            "bio": "Sarah found her calling to birth work after experiencing first-hand the benefits of a doula’s presence during the birth of her daughter in 2015. She believes every mother deserves access to all the information possible to experience a positive birth, and to be treated like a goddess! Sarah is honored to share birth memories with many families and looks forward to helping make your family's transition to parenthood as peaceful as possible.  As a birth and postpartum doula who is deaf, Sarah communicates in both English & ASL and enjoys working with the Deaf Community.",
            "email":  "sarah.e.ozimek@gmail.com",
            "website": "",
            "phone": "484-716-8065"
        },
        "Jenessa Pak": {
            "name": "janessa-pak",
            "credentials": "",
            "bio": "Jenessa is a CCE (Certified Childbirth Educator) and birth doula. She is a natural born care giver. She is an enthusiastic Educator and is passionate about supporting families as they grow. Jenessa offers gentle and steady support for women throughout their childbearing journey. Jenessa has always been interested in birth and motherhood and began her birth doula certification in 2014, immediately followed by a certification in Childbirth education. She approaches her doula work with compassion and empathy while standing on a solid base of knowledge. Jenessa is a loving wife and mama to two beautiful children.",
            "email":  "jenessampak@gmail.com",
            "website": "",
            "phone": "585-880-3710"
        },
        "Dalia Rodriguez-Aponte": {
            "name": "dalia-rodriguez-aponte",
            "credentials": "",
            "bio": "Dalia is a Certified Birth and Postpartum Doula who believes in birth and in the woman’s ability to give birth. For her, this is a sacred and transformative time in which it is possible to be reborn as an individual and parent. She understands the fears that arise during this process and will be honored to serve as a support. Dalia has taken other courses and trainings that compliment her work and offer additional services like the Sobada Maya (Maya Abdominal Therapy) for pre-pregnancy and/or postpartum, and Placental Work (prints, encapsulations, tincture, balm). Dalia speaks English and Spanish.",
            "email":  "dalia@bbcroc.com",
            "website": "www.bbcroc.com",
            "phone": "585-789-0596"
        },
        "Laura Schwartz": {
            "name": "laura-schwartz",
            "credentials": "CD(DONA), LCCE",
            "bio": "Laura believes that birth is not just another day in a woman’s life. A woman’s experience and the support she receives influence her mothering for the rest of her life. Laura completed her DONA International birth doula training in 2007, before she had children. Years of experience and three births of her own later, she’s seen firsthand the profound impact of birth. Laura understands the important role that support and education play to increase confidence and reduce fear. She’s also a Lamaze Certified Childbirth Educator, dedicated to teaching informative, interactive and fun classes. “Enough about me, let’s talk about you!”",
            "email":  "Laura@bbcroc.com",
            "website": "www.bbcroc.com",
            "phone": ""
        },
        "Jane Leverenz": {
            "name": "jane-leverenz",
            "credentials": "CD(DONA)",
            "bio": "Jane has a passion to help educate, empower, and support women and their families during their birth journey. She has been working as a birth doula since January 2014. She became passionate about childbirth after her first baby was born in 2007. She has enthusiastically pursued greater knowledge and birth experience ever since! Jane is an active, loving and empathetic woman. Wife to a wonderful guy and mother to four amazing, energetic children. She also loves the Rochester birth community dearly!",
            "email":  "leverenz_janice@yahoo.com",
            "website": "www.threesistersdoulacare.com",
            "phone": ""
        },
        "Julia M. Sittig": {
            "name": "julia-m-sittig",
            "credentials": "MSW, Adv/CD/BDT(DONA), LCCE",
            "bio": "Julia offers you the valuable experience and knowledge of birth that comes with serving as a doula and childbirth educator since 2004. Her supportive role is designed to help women have a safe and memorable birth experience, which in turn can beautifully empower a woman in her role as a mother. Julia is co-owner of Beautiful Birth Choices Yoga Studio and Learning Center and is an Advanced DONA Certified Birth Doula (2004), a Lamaze Certified Childbirth Educator (2004), an Evidence Based Birth Instructor, a DONA Birth Doula Trainer (2011), and most importantly, a wife and mother of five amazing children.",
            "email":  "julia@bbcroc.com",
            "website": "www.bbcroc.com",
            "phone": "585-613-1051"
        },
        "Kay Slattery": {
            "name": "kay-slattery",
            "credentials": "CD(DONA)",
            "bio": "Kay believes that birth is a normal, yet spiritual beginning to life, and that a healthy woman’s body is designed to nourish a natural birth, with little or no medical intervention.  Although there are times when a medical procedure may be necessary to bring about a positive outcome for mother and baby, it does not have to diminish a rewarding birth experience. She believes respecting the mother’s preferences for the kind of birth she imagines is key to bringing about a positive birth experience.  Kay is DONA certified and has served as a doula since 2006.",
            "email":  "kslatt@rochester.rr.com",
            "website": "",
            "phone": ""
        },
        "Mindy Class": {
            "name": "mindy-class",
            "credentials": "",
            "bio": "Mindy started her journey to becoming a Doula after the birth of her fourth child. She has always been fascinated with pregnancy and birth and knew she wanted to continue that passion and help others. As a DONA International trained birth Doula Mindy believes every woman should have the opportunity to have an empowering and fulfilling  birth experience.  ",
            "email":  "mindyclass@hotmail.com",
            "website": "",
            "phone": "585-576-9200"
        },
        "Kara Snyder": {
            "name": "kara-snyder",
            "credentials": "CD(DONA), CPES, CCE",
            "bio": "Kara’s journey in the birth world began while assisting midwives in rural Cambodia during her Peace Corps service. Since she returned to the United States, Kara has become a DONA certified doula, a Certified Childbirth Educator (ACBE), a PBi certified Placenta Encapsulator, a breastmilk jewelry designer, and most importantly, the mother of a beautiful boy. She is passionate about empowering mothers by helping them prepare for a safe and happy birth and postpartum experience.",
            "email":  "karaandsam@yahoo.com",
            "website": "",
            "phone": "585-784-0537"
        },
        "Alison Spath": {
            "name": "alison-spath",
            "credentials": "CD(DONA), CLC, RYT",
            "bio": "Alison is delighted and honored to work with families as they prepare for the birth of their baby.  She will work with you during pregnancy to answer questions, share resources for education and provide emotional and physical support for both you and your partner throughout your entire labor and delivery.  Alison offers breastfeeding support in the hours, days, and weeks after your baby has arrived. Alison is the mother of three, two born via unplanned cesarean and her third born via VBA2C.  She teaches prenatal yoga, is one of the facilitators of Rochester Homebirth Circle, is Certified Lactation Counselor and has been supporting breastfeeding mothers in the community since 2008.",
            "email":  "alison@bbcroc.com",
            "website": "bbcroc.com",
            "phone": "585-451-9968"
        },
        "Kathleen Mugnolo": {
            "name": "kathleen-mugnolo",
            "credentials": "",
            "bio": "Kathleen has been passionately providing birth and postpartum care to families for  10 years.  She believes that healing the way women give birth will mend the world. Kathleen brings a solid foundation of plant wisdom to her practice, having completed her first herbal  apprenticeship at Heartstone Center For Earths Essentials in 2003 and is currently working with Dr. Aviva Romm studying Herbal Medicine for Woman.  She believes in a holistic approach when caring for the mother/baby/family unit and that the needs of the whole are complementary. Kathleen is driven by the honor of witnessing a woman embody her full self during birth.",
            "email":  "quantumbirthservices@gmail.com",
            "website": "www.quantumbirthservices.com",
            "phone": " 585-507-7991"
        },
        "Valarie Welsh": {
            "name": "valarie-welsh",
            "credentials": "CD(DONA), LCCE, CPST",
            "bio": "Valarie is a certified doula supporting births for over six years. She’s president of the Rochester Doula Cooperative, a Lamaze Certified Childbirth Educator (LCCE), and a certified child passenger safety seat technician. Valarie has experience supporting Cesarean, VBAC, multiples, and home births, but most importantly has a deep love and respect for the transforming power of birth and how powerful a woman’s own wisdom can be. Valarie believes the sacrament of birth belongs with the family and welcomes a conversation to determine how she can best support you in the choices ahead.",
            "email":  "info@birthmarkdoula.com",
            "website": "www.birthmarkdoula.com",
            "phone": "585-943-8655"
        },
        "Karen Welton": {
            "name": "karen-welton",
            "credentials": "",
            "bio": "Karen’s passion for birth came after the homebirth of her first daughter. She completed her doula training with DONA International and is further trained in prayer counseling, acupressure, Spinning Babies and breastfeeding support. Karen has supported women at home and in hospitals. She believes every woman deserves to feel comforted, protected and empowered during birth. Her passion is to help women overcome their fears and find their voice to approach childbirth with confidence and joy. Karen is also a birth photographer.",
            "email":  "Karenwelton@gmail.com",
            "website": "",
            "phone": "585-236-7171"
        },
        "Petra Letter": {
            "name": "petra-letter",
            "credentials": "PCD(DONA), CLC",
            "bio": "Petra is a certified Postpartum Doula who trained with DONA International in 2009. She trained with Healthy Children in 2014 and is a Certified Lactation Counselor. Petra has been married since 1982, and has lived in a family home in NE Rochester since then. She is a WAHM of 3 grown children and Oma to two boys. She is the nursery staff person at her church. She has been caregiver and nanny to many families over the years.  Her crafts include yarn work, sewing/alterations, quilting and painting on small surfaces.",
            "email":  "RocDoula@gmail.com",
            "website": "",
            "phone": "585-503-0358"
        },
        "Nikki Covert": {
            "name": "nikki-covert",
            "credentials": "",
            "bio": "I believe in the empowerment of women through their birth experience. I have a deep trust in the birth process and value every families individual birth path. My passion for birth began with my birth doula who inspired me during my own VBAC (vaginal birth after cesarean) in 2011. Realizing throughout my VBAC, and several pregnancies thereafter, just how important the role of a doula is, I set out in April 2016 on a journey to become a certified DONA birth doula. I approach my work and continuing education as doula with compassion, empathy, and my own real world experience.  I embrace all the joy and fears that surface throughout a woman's birth journey and grateful for each birth I'm invited to.",
            "email":  "Nikki.covert@gmail.com",
            "website": "",
            "phone": "239-247-2580"
        }        
    }