doctype
html(lang="en-US")
    head
        meta(charset="utf-8")
        link(href="css/main.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=5")
        link(rel="manifest", href="manifest.json")
        meta(name="theme-color" content="#2F3BA2")
        title Doula Cooperative of Rochester NY - Labor Support for Pregnant Women
    body        
        div(id="main", class="container")
            include partials/_desktop-nav.pug
            include partials/_mobile-nav.pug
            header.page-header
                .page-banner
                    block banner
            main.main-container
                block main
            
            footer.page-footer
                .page-footer--copyright &copy; 2017 Doula Cooperative of Rochester NY
                a(href="contact-us").page-footer--contact Contact Us
        script(defer src="js/index.js")
        script.
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-86099056-1', 'auto');
            ga('send', 'pageview');
        script(async src="https://www.google-analytics.com/analytics.js")