@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/main',
  'layout/mobile-nav',
  'layout/menu',
  'layout/footer';
  

// 5. Components
@import
  'components/navigation',
  'components/login',
  'components/button';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/doulas';

// 7. Themes
@import
  'themes/default';