// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Libre Franklin';
  src: url("../fonts/libre-franklin.woff2") format("woff2");
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/libre-baskerville.woff2") format("woff2");
}
